.header{
    background-color: white;
    height: 60px;
}

.main{
    height: 84vh;
    background-color: rgb(248, 248, 248);
    margin-top: 60px;
    margin-bottom: 60px;
  }

.Footer{
    background-color: white;
    height: 60px;
  }

.guest-login{
    height: 84vh;
}

.lobby{
    height: 84vh;
}

.lobby-element{
  border: solid rgb(197, 197, 197) 1px;
  border-radius:0.2cm
}

.player-list{
  height: 80vh;
}

.voting{
  height: 80vh;
  margin-right: 2vh;
}

.voting-area{
  height: 50vh;
}

.voting-controls{
  height: 28vh;
  margin-top: 2vh;
}

.voting-config{
  margin-top: 26vh;
}
